<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <UltraDev_Search>
            <version>1.0.0</version>
        </UltraDev_Search>
    </modules>
    <global>
        <blocks>
            <ultradev_search>
                <class>UltraDev_Search_Block</class>
            </ultradev_search>
        </blocks>
        <helpers>
            <ultradev_search>
                <class>UltraDev_Search_Helper</class>
            </ultradev_search>
        </helpers>
        <models>
            <ultradev_search>
                <class>UltraDev_Search_Model</class>
            </ultradev_search>
        </models>
        <events>
            <ultradev_search_product_collection_init>
                <observers>
                    <ultradev_search>
                        <class>ultradev_search/observer</class>
                        <method>onProductCollectionInit</method>
                    </ultradev_search>
                </observers>
            </ultradev_search_product_collection_init>
        </events>
    </global>
    <frontend>
        <routers>
            <ultradev_search>
                <use>standard</use>
                <args>
                    <module>UltraDev_Search</module>
                    <frontName>ultradevsearch</frontName>
                </args>
            </ultradev_search>
        </routers>
        <layout>
            <updates>
                <ultradev_search>
                    <file>ultradev/search.xml</file>
                </ultradev_search>
            </updates>
        </layout>
        <translate>
            <modules>
                <UltraDev_Search>
                    <files>
                        <default>UltraDev_Search.csv</default>
                    </files>
                </UltraDev_Search>
            </modules>
        </translate>
    </frontend>
    <default>
        <ultradev_search>
            <general>
                <enable>1</enable>
                <limit>5</limit>
                <min_length>1</min_length>
                <cache_lifetime>86400</cache_lifetime>
                <use_local_storage>1</use_local_storage>
                <enable_jquery>1</enable_jquery>
            </general>
            <imagesearch>
                <enable>0</enable>
                <provider>google_vision</provider>
                <api_key_primary></api_key_primary>
                <api_key_fallback></api_key_fallback>
                <request_limit>950</request_limit>
                <request_count>0</request_count>
                <request_count_month></request_count_month>
            </imagesearch>
        </ultradev_search>
    </default>
</config>
